#picasa_albums_overview ul {
  overflow: auto;
  background: red;
}
#picasa_albums_overview li {
  float: left;
  list-style-type: none;
  min-height: 90px;
  margin: 8px;
  padding: 15px;
}
#picasa_albums_overview li div {
  position: relative;
}
#picasa_albums_overview li img {
  clear: both;
}
#picasa_albums_overview li a {
  clear: right;
  display: block;
  background-color: #edeefc;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
  width: 130px;
  padding: 5px;
}
.overview-link {
  margin: 10px 0;
}
